<nav class="nav">
    <img class="gnussy-logo" width=100rem src="/assets/st-gnussy.png">
    <div class="main-header">
        <span>gnussy.org</span>
        <p>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="nav-main-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq ($currentPage.Permalink) (.URL | absLangURL)) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </p>
    </div>
</nav>

<style>
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  text-align: left;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1rem;
}

.main-header p {
  align-self: flex-end;
}
</style>
